In [270]:
from pymongo import MongoClient
import pandas as pd
import folium
from folium import Choropleth, Circle, Marker, Icon, Map

In [2]:
# We connect with our Mongo client to get the name of our current databases.
conn = MongoClient("localhost:27017")
conn.list_database_names()

['admin', 'config', 'ironhack', 'local']

In [3]:
# We get access to our database and print our collections 
db = conn.get_database("ironhack")
db.list_collection_names()

['companies', 'restaurants', 'countries_small', 'books']

In [115]:
# And finally we access to the collections we are going to work with!
collection = db.get_collection("companies")
collection.find_one({})

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'permalink': 'abc2',
 'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
 'homepage_url': 'http://wetpaint-inc.com',
 'blog_url': 'http://digitalquarters.net/',
 'blog_feed_url': 'http://digitalquarters.net/feed/',
 'twitter_username': 'BachelrWetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'founded_year': 2005,
 'founded_month': 10,
 'founded_day': 17,
 'deadpooled_year': 1,
 'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
 'alias_list': '',
 'email_address': 'info@wetpaint.com',
 'phone_number': '206.859.6300',
 'description': 'Technology Platform Company',
 'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
 'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
 'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
 'image': {'available_sizes': [[[150, 75],
    'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
   [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
   [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'relationships': [{'is_past': False,
   'title': 'Co-Founder and VP, Social and Audience Development',
   'person': {'first_name': 'Michael',
    'last_name': 'Howell',
    'permalink': 'michael-howell'}},
  {'is_past': False,
   'title': 'Co-Founder/CEO/Board of Directors',
   'person': {'first_name': 'Ben',
    'last_name': 'Elowitz',
    'permalink': 'ben-elowitz'}},
  {'is_past': False,
   'title': 'COO/Board of Directors',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': False,
   'title': 'SVP, Strategy and Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Theresia',
    'last_name': 'Ranzetta',
    'permalink': 'theresia-ranzetta'}},
  {'is_past': False,
   'title': 'Board Member',
   'person': {'first_name': 'Gus',
    'last_name': 'Tai',
    'permalink': 'gus-tai'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Len',
    'last_name': 'Jordan',
    'permalink': 'len-jordan'}},
  {'is_past': False,
   'title': 'Head of Technology and Product',
   'person': {'first_name': 'Alex',
    'last_name': 'Weinstein',
    'permalink': 'alex-weinstein'}},
  {'is_past': True,
   'title': 'CFO',
   'person': {'first_name': 'Bert',
    'last_name': 'Hogue',
    'permalink': 'bert-hogue'}},
  {'is_past': True,
   'title': 'CFO/ CRO',
   'person': {'first_name': 'Brian',
    'last_name': 'Watkins',
    'permalink': 'brian-watkins'}},
  {'is_past': True,
   'title': 'Senior Vice President, Marketing',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': True,
   'title': 'VP, Technology and Product',
   'person': {'first_name': 'Werner',
    'last_name': 'Koepf',
    'permalink': 'werner-koepf'}},
  {'is_past': True,
   'title': 'VP Marketing',
   'person': {'first_name': 'Kevin',
    'last_name': 'Flaherty',
    'permalink': 'kevin-flaherty'}},
  {'is_past': True,
   'title': 'VP User Experience',
   'person': {'first_name': 'Alex',
    'last_name': 'Berg',
    'permalink': 'alex-berg'}},
  {'is_past': True,
   'title': 'VP Engineering',
   'person': {'first_name': 'Steve',
    'last_name': 'McQuade',
    'permalink': 'steve-mcquade'}},
  {'is_past': True,
   'title': 'Executive Editor',
   'person': {'first_name': 'Susan',
    'last_name': 'Mulcahy',
    'permalink': 'susan-mulcahy'}},
  {'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}}],
 'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
  {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
  {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
  {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
  {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
  {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
  {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
  {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
 'providerships': [],
 'total_money_raised': '$39.8M',
 'funding_rounds': [{'id': 888,
   'round_code': 'a',
   'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
   'source_description': '',
   'raised_amount': 5250000,
   'raised_currency_code': 'USD',
   'funded_year': 2005,
   'funded_month': 10,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 889,
   'round_code': 'b',
   'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
   'source_description': '',
   'raised_amount': 9500000,
   'raised_currency_code': 'USD',
   'funded_year': 2007,
   'funded_month': 1,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 2312,
   'round_code': 'c',
   'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
   'source_description': 'Accel',
   'raised_amount': 25000000,
   'raised_currency_code': 'USD',
   'funded_year': 2008,
   'funded_month': 5,
   'funded_day': 19,
   'investments': [{'company': None,
     'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
 'acquisitions': [],
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}],
 'milestones': [{'id': 5869,
   'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
   'stoned_year': 2010,
   'stoned_month': 6,
   'stoned_day': 8,
   'source_url': 'http://www.lead411.com/seattle-companies.html',
   'source_text': None,
   'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
  {'id': 8702,
   'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
   'stoned_year': 2010,
   'stoned_month': 9,
   'stoned_day': 6,
   'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
   'source_text': None,
   'source_description': 'All Things D',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 86],
     'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
    [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
    [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
   'attribution': None}],
 'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
   'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
  {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
   'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
  {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
   'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
  {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
   'title': 'Guest post by CEO Ben Elowitz in AdAge'},
  {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
   'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
  {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
   'title': 'AllFacebook coverage of Wetpaint'},
  {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
   'title': 'Profile of Wetpaint in Ad Age'},
  {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
   'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
  {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
   'title': 'Profile of Wetpaint in Xconomy'}],
 'partners': []}

In [116]:
# We print only the offices value, because it's our main interest from this database.
collection.find_one({}, {"offices": 1})

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}]}

#### Now we need to contemplate the criteria that we want to fullfill in order to make sure we localize our company in the right place.
### The places that we want to make sure we are close to are:

- 30% of the company staff have at least 1 child. (schools close)
- Near successful tech startups that have raised at least 1 Million dollars.
- An Airport
- Vegan restaurant

#### We chose the 4 things that we think are the best that we can try to accomplish.

In [98]:
# Let's see how many companies are ir our collection:
collection.count_documents({})

18801

In [76]:
# Now, we start to try to find all the spots that have to match our criteria:
collection.find({"name": {"$regex": "^Starbucks$"}}, {"name": 1, "offices": 1})

In [77]:
list(_)
# As we can see there's just one Starbucks in our database, but we don't have any useful info about its location.

[{'_id': ObjectId('52cdef7c4bab8bd67529879e'),
  'name': 'Starbucks',
  'offices': []}]

In [104]:
# We'll try to find now some design companies:
collection.find({"name": {"$regex": "^Design$"}}, {"name": 1, "offices": 1})

In [105]:
list(_)
# There's not any company also which has the word "Design" in its name, with or without first capital letter.

[]

In [171]:
# One of the things we can obtain from this database is all the companies that reside in San José (Silicon Valley)
# which is where we want to place our gaming company.
companies = list(collection.find({"offices.city": "San Jose", "total_money_raised": {"$regex": ".*\M$"}}, {"name": 1, "offices.city": 1, "total_money_raised": 1, "offices.latitude": 1, "offices.longitude": 1, "_id": 0}))

In [247]:
companies

[{'name': 'eBay',
  'total_money_raised': '$6.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.295005,
    'longitude': -121.930035}]},
 {'name': 'Cisco',
  'total_money_raised': '$2.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.408802,
    'longitude': -121.95377}]},
 {'name': 'PayPal',
  'total_money_raised': '$197M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.294465,
    'longitude': -121.927696}]},
 {'name': 'BlueLithium',
  'total_money_raised': '$11.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.32052,
    'longitude': -121.948399}]},
 {'name': 'Baynote',
  'total_money_raised': '$27.8M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.332271,
    'longitude': -122.006539}]},
 {'name': 'BlackArrow',
  'total_money_raised': '$59.8M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.549475,
    'longitude': -122.316982},
   {'city': 'New York', 'latitude': None, 'longitude': None}]},
 {'name': 'CDNetworks',
  'total_money_raised': '$96.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.4050988,
    'longitude': -121.9477639}]},
 {'name': 'Nanosolar',
  'total_money_raised': '$520M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.264749,
    'longitude': -121.789862}]},
 {'name': 'Pinger',
  'total_money_raised': '$18.5M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'Cellfire',
  'total_money_raised': '$26M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.395923,
    'longitude': -121.92902}]},
 {'name': 'InMage Systems',
  'total_money_raised': '$35.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.381034,
    'longitude': -121.971487}]},
 {'name': 'Wrike',
  'total_money_raised': '$11M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3973787,
    'longitude': -122.0879281}]},
 {'name': 'CellSpin',
  'total_money_raised': '$2M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.421731,
    'longitude': -121.957018}]},
 {'name': 'InvenSense',
  'total_money_raised': '$38M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.407445,
    'longitude': -122.019405},
   {'city': 'Hsinchu Science Park', 'latitude': None, 'longitude': None},
   {'city': 'Kohoku-ku, Yokohama', 'latitude': None, 'longitude': None},
   {'city': 'Seoul', 'latitude': None, 'longitude': None},
   {'city': 'Dubai', 'latitude': None, 'longitude': None}]},
 {'name': 'Crowd Science',
  'total_money_raised': '$2M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.419041,
    'longitude': -122.087471},
   {'city': 'Toronto', 'latitude': 43.712309, 'longitude': -79.399538}]},
 {'name': 'Codefast',
  'total_money_raised': '$6.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.316466,
    'longitude': -121.873881}]},
 {'name': 'Intacct',
  'total_money_raised': '$64.8M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.332948,
    'longitude': -121.89053}]},
 {'name': 'FusionOne',
  'total_money_raised': '$6M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.333439,
    'longitude': -121.895286},
   {'city': 'Tallinn', 'latitude': None, 'longitude': None}]},
 {'name': 'Ocarina Networks',
  'total_money_raised': '$20M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.371056,
    'longitude': -121.920558}]},
 {'name': 'Brocade Communications Systems',
  'total_money_raised': '$300M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.376066,
    'longitude': -121.926678},
   {'city': 'Singapore', 'latitude': None, 'longitude': None},
   {'city': 'Geneva', 'latitude': 46.23187, 'longitude': 6.110264}]},
 {'name': 'Roamware',
  'total_money_raised': '$14M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.317799,
    'longitude': -121.947497},
   {'city': 'Brussels', 'latitude': 50.828686, 'longitude': 4.36201},
   {'city': 'Wanchai', 'latitude': 22.280014, 'longitude': 114.179842},
   {'city': 'Singapore', 'latitude': 1.282172, 'longitude': 103.849805},
   {'city': 'Mumbai', 'latitude': None, 'longitude': None},
   {'city': 'Bangalore', 'latitude': 12.973873, 'longitude': 77.651347},
   {'city': 'Haryana', 'latitude': None, 'longitude': None}]},
 {'name': 'sliceX',
  'total_money_raised': '$15M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3706126,
    'longitude': -121.9219538}]},
 {'name': 'Xactly Corp',
  'total_money_raised': '$73.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.334738,
    'longitude': -121.891516},
   {'city': 'Boston', 'latitude': 42.355077, 'longitude': -71.056928},
   {'city': 'Denver', 'latitude': None, 'longitude': None},
   {'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Zume Life',
  'total_money_raised': '$1.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.368878,
    'longitude': -121.917236},
   {'city': 'Pune', 'latitude': None, 'longitude': None}]},
 {'name': 'sliceX',
  'total_money_raised': '$15M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3706126,
    'longitude': -121.9219538}]},
 {'name': 'Xactly Corp',
  'total_money_raised': '$73.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.334738,
    'longitude': -121.891516},
   {'city': 'Boston', 'latitude': 42.355077, 'longitude': -71.056928},
   {'city': 'Denver', 'latitude': None, 'longitude': None},
   {'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Zume Life',
  'total_money_raised': '$1.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.368878,
    'longitude': -121.917236},
   {'city': 'Pune', 'latitude': None, 'longitude': None}]},
 {'name': 'LogLogic',
  'total_money_raised': '$8.8M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.4155698,
    'longitude': -121.9486567},
   {'city': 'New York', 'latitude': 40.749577, 'longitude': -73.9916486}]},
 {'name': 'Nimble Storage',
  'total_money_raised': '$81.7M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'RiseSmart',
  'total_money_raised': '$12.6M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.383526,
    'longitude': -122.012808}]},
 {'name': 'SolFocus',
  'total_money_raised': '$211M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3987372,
    'longitude': -122.0497918}]},
 {'name': 'Siri',
  'total_money_raised': '$24M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.320052,
    'longitude': -121.877636}]},
 {'name': 'A10 Networks',
  'total_money_raised': '$118M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.391198,
    'longitude': -121.93393}]},
 {'name': 'Ketera',
  'total_money_raised': '$14M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'SLI Systems',
  'total_money_raised': '$1M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3183744,
    'longitude': -122.0302814},
   {'city': 'London', 'latitude': None, 'longitude': None},
   {'city': 'Christchurch', 'latitude': None, 'longitude': None}]},
 {'name': 'Cassatt',
  'total_money_raised': '$15M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'WiChorus',
  'total_money_raised': '$42.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.409096,
    'longitude': -121.943191},
   {'city': 'Hyderabad', 'latitude': None, 'longitude': None}]},
 {'name': 'Altierre',
  'total_money_raised': '$60M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3968262,
    'longitude': -121.8957166}]},
 {'name': 'Novafora',
  'total_money_raised': '$12M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'Asetek',
  'total_money_raised': '$34.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.320796,
    'longitude': -121.828041}]},
 {'name': 'Verient',
  'total_money_raised': '$13.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3033387,
    'longitude': -121.979634}]},
 {'name': 'deCarta',
  'total_money_raised': '$56.1M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'Achronix Semiconductor',
  'total_money_raised': '$136M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.328686,
    'longitude': -121.89426}]},
 {'name': 'Aicent',
  'total_money_raised': '$145M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.384211,
    'longitude': -121.924797},
   {'city': 'Beijing', 'latitude': None, 'longitude': None}]},
 {'name': 'Xangati',
  'total_money_raised': '$21.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.32136,
    'longitude': -122.014616}]},
 {'name': 'Parade Technologies',
  'total_money_raised': '$14.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.384206,
    'longitude': -121.992805},
   {'city': 'Shanghai', 'latitude': None, 'longitude': None},
   {'city': 'Sunnyvale', 'latitude': None, 'longitude': None}]},
 {'name': 'Silicon Genesis',
  'total_money_raised': '$23M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3938424,
    'longitude': -121.9318273}]},
 {'name': 'Ubicom',
  'total_money_raised': '$58.2M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.414105,
    'longitude': -121.940895}]},
 {'name': 'Alverix',
  'total_money_raised': '$7.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.385776,
    'longitude': -121.926113}]},
 {'name': 'MediaPhy',
  'total_money_raised': '$13M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.41668,
    'longitude': -121.949456}]},
 {'name': 'Shocking Technologies',
  'total_money_raised': '$55.9M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.261986,
    'longitude': -121.784279}]},
 {'name': 'Synaptics',
  'total_money_raised': '$76.2M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.352313,
    'longitude': -121.967982},
   {'city': 'Kowloon', 'latitude': None, 'longitude': None}]},
 {'name': 'Quantum Secure',
  'total_money_raised': '$3.54M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.367838,
    'longitude': -121.915594}]},
 {'name': 'Atrenta',
  'total_money_raised': '$33M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.371088,
    'longitude': -121.925355},
   {'city': 'Swindon Wiltshire', 'latitude': None, 'longitude': None}]},
 {'name': 'Vocera Communications',
  'total_money_raised': '$7.63M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3190224,
    'longitude': -121.911101}]},
 {'name': 'Talari Networks',
  'total_money_raised': '$45.1M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.317735,
    'longitude': -121.949417},
   {'city': 'Morrisville', 'latitude': 35.8535092, 'longitude': -78.8267112}]},
 {'name': 'CipherMax',
  'total_money_raised': '$142M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3969138,
    'longitude': -121.8939054}]},
 {'name': 'GainSpan',
  'total_money_raised': '$113M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.409064,
    'longitude': -121.943149}]},
 {'name': 'Invarium',
  'total_money_raised': '$6M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'TextDigger',
  'total_money_raised': '$4.3M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.336055,
    'longitude': -121.890059}]},
 {'name': 'Smallaa',
  'total_money_raised': '$3M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.39458,
    'longitude': -121.928393}]},
 {'name': 'CoreOptics',
  'total_money_raised': '$89.5M',
  'offices': [{'city': 'Nuremberg',
    'latitude': 49.4855019,
    'longitude': 11.1234719},
   {'city': 'Gerlingen', 'latitude': 48.8019712, 'longitude': 9.0728671},
   {'city': 'San Jose', 'latitude': 37.395931, 'longitude': -121.927357}]},
 {'name': 'Solar Junction',
  'total_money_raised': '$58.6M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.383175,
    'longitude': -121.915418}]},
 {'name': 'Certify Data Systems',
  'total_money_raised': '$7.21M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.317847,
    'longitude': -121.948469}]},
 {'name': 'Silicor Materials',
  'total_money_raised': '$240M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.394118,
    'longitude': -122.035378},
   {'city': 'Vaughan, ON', 'latitude': None, 'longitude': None}]},
 {'name': 'Solexant',
  'total_money_raised': '$87M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3825306,
    'longitude': -121.9198306}]},
 {'name': 'Chronix Biomedical',
  'total_money_raised': '$8.27M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.320052,
    'longitude': -121.877636}]},
 {'name': 'Intermolecular',
  'total_money_raised': '$62.6M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3949016,
    'longitude': -121.9293948}]},
 {'name': 'NeoPhotonics',
  'total_money_raised': '$155M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.3961981,
    'longitude': -121.9301666}]},
 {'name': 'Si2 Microsystems',
  'total_money_raised': '$12.7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.234708,
    'longitude': -121.779272},
   {'city': 'Bangalore', 'latitude': None, 'longitude': None}]},
 {'name': 'Edgeware',
  'total_money_raised': '$11.8M',
  'offices': [{'city': 'STOCKHOLM',
    'latitude': 59.3326694,
    'longitude': 18.0523253},
   {'city': 'San Jose', 'latitude': 37.3403284, 'longitude': -121.8864433}]},
 {'name': 'SoloPower',
  'total_money_raised': '$458M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.253463,
    'longitude': -121.782906}]},
 {'name': 'DeciZium',
  'total_money_raised': '$1.5M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.337756,
    'longitude': -121.89435}]},
 {'name': 'Force10 Networks',
  'total_money_raised': '$116M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.418636,
    'longitude': -121.944828}]},
 {'name': 'SVTC Technologies',
  'total_money_raised': '$34M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'D2S',
  'total_money_raised': '$21.7M',
  'offices': [{'city': 'San Jose', 'latitude': None, 'longitude': None}]},
 {'name': 'PaymentOne',
  'total_money_raised': '$7M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.248043,
    'longitude': -121.776935}]},
 {'name': 'Celestial Semiconductor',
  'total_money_raised': '$2M',
  'offices': [{'city': 'San Jose',
    'latitude': 37.386417,
    'longitude': -121.92917}]}]

In [248]:
# We print the dataframes to see how's it looking rigth now:
d = pd.DataFrame(collection.find({"offices.city": "San Jose", "total_money_raised": {"$regex": ".*\M$"}}, {"name": 1, "total_money_raised": 1, "offices.latitude": 1, "_id": 0}))
d

                       name total_money_raised                    offices
0                      eBay              $6.7M  [{'latitude': 37.295005}]
1                     Cisco              $2.5M  [{'latitude': 37.408802}]
2                    PayPal              $197M  [{'latitude': 37.294465}]
3               BlueLithium             $11.5M   [{'latitude': 37.32052}]
4                   Baynote             $27.8M  [{'latitude': 37.332271}]
..                      ...                ...                        ...
73         Force10 Networks              $116M  [{'latitude': 37.418636}]
74        SVTC Technologies               $34M       [{'latitude': None}]
75                      D2S             $21.7M       [{'latitude': None}]
76               PaymentOne                $7M  [{'latitude': 37.248043}]
77  Celestial Semiconductor                $2M  [{'latitude': 37.386417}]

[78 rows x 3 columns]

In [301]:
# And the second dataframe:
d1 = pd.DataFrame(collection.find({"offices.city": "San Jose", "total_money_raised": {"$regex": ".*\M$"}}, {"name": 1, "total_money_raised": 1, "offices.longitude": 1, "_id": 0}))
d1

                       name total_money_raised                       offices
0                      eBay              $6.7M  [{'longitude': -121.930035}]
1                     Cisco              $2.5M   [{'longitude': -121.95377}]
2                    PayPal              $197M  [{'longitude': -121.927696}]
3               BlueLithium             $11.5M  [{'longitude': -121.948399}]
4                   Baynote             $27.8M  [{'longitude': -122.006539}]
..                      ...                ...                           ...
73         Force10 Networks              $116M  [{'longitude': -121.944828}]
74        SVTC Technologies               $34M         [{'longitude': None}]
75                      D2S             $21.7M         [{'longitude': None}]
76               PaymentOne                $7M  [{'longitude': -121.776935}]
77  Celestial Semiconductor                $2M   [{'longitude': -121.92917}]

[78 rows x 3 columns]

In [282]:
!ls

Geo.ipynb        Google API.ipynb

In [286]:
# Let's import our function to clean this dataframe:
import sys
sys.path.append("../")
from main import mapa

In [298]:
# Now, we apply a function in order to remove the list from the column "offices":
mapa(df)
df

                       name total_money_raised                  offices
0                      eBay              $6.7M  {'latitude': 37.295005}
1                     Cisco              $2.5M  {'latitude': 37.408802}
2                    PayPal              $197M  {'latitude': 37.294465}
3               BlueLithium             $11.5M   {'latitude': 37.32052}
4                   Baynote             $27.8M  {'latitude': 37.332271}
..                      ...                ...                      ...
73         Force10 Networks              $116M  {'latitude': 37.418636}
74        SVTC Technologies               $34M       {'latitude': None}
75                      D2S             $21.7M       {'latitude': None}
76               PaymentOne                $7M  {'latitude': 37.248043}
77  Celestial Semiconductor                $2M  {'latitude': 37.386417}

[78 rows x 3 columns]

In [291]:
mapa(df)
df1

                       name total_money_raised                     offices
0                      eBay              $6.7M  {'longitude': -121.930035}
1                     Cisco              $2.5M   {'longitude': -121.95377}
2                    PayPal              $197M  {'longitude': -121.927696}
3               BlueLithium             $11.5M  {'longitude': -121.948399}
4                   Baynote             $27.8M  {'longitude': -122.006539}
..                      ...                ...                         ...
73         Force10 Networks              $116M  {'longitude': -121.944828}
74        SVTC Technologies               $34M         {'longitude': None}
75                      D2S             $21.7M         {'longitude': None}
76               PaymentOne                $7M  {'longitude': -121.776935}
77  Celestial Semiconductor                $2M   {'longitude': -121.92917}

[78 rows x 3 columns]

In [254]:
# Now again, we apply another function to get the value of latitude and create a new column out of it:
df_new = df.join(pd.DataFrame(df["offices"].to_dict()).T)
df_new

,name,total_money_raised,offices,latitude
0,eBay,$6.7M,{'latitude': 37.295005},37.295
1,Cisco,$2.5M,{'latitude': 37.408802},37.4088
2,PayPal,$197M,{'latitude': 37.294465},37.2945
3,BlueLithium,$11.5M,{'latitude': 37.32052},37.3205
4,Baynote,$27.8M,{'latitude': 37.332271},37.3323
...,...,...,...,...
73,Force10 Networks,$116M,{'latitude': 37.418636},37.4186
74,SVTC Technologies,$34M,{'latitude': None},None
75,D2S,$21.7M,{'latitude': None},None
76,PaymentOne,$7M,{'latitude': 37.248043},37.248
77,Celestial Semiconductor,$2M,{'latitude': 37.386417},37.3864

In [255]:
df1_new = df1.join(pd.DataFrame(df1["offices"].to_dict()).T)
df1_new

,name,total_money_raised,offices,longitude
0,eBay,$6.7M,{'longitude': -121.930035},-121.93
1,Cisco,$2.5M,{'longitude': -121.95377},-121.954
2,PayPal,$197M,{'longitude': -121.927696},-121.928
3,BlueLithium,$11.5M,{'longitude': -121.948399},-121.948
4,Baynote,$27.8M,{'longitude': -122.006539},-122.007
...,...,...,...,...
73,Force10 Networks,$116M,{'longitude': -121.944828},-121.945
74,SVTC Technologies,$34M,{'longitude': None},None
75,D2S,$21.7M,{'longitude': None},None
76,PaymentOne,$7M,{'longitude': -121.776935},-121.777
77,Celestial Semiconductor,$2M,{'longitude': -121.92917},-121.929

In [256]:
# And now finally we decide to drop the unnecessary column of our dataframe:
df_new.drop(["offices"], axis=1, inplace=True)
df_new

                       name total_money_raised latitude
0                      eBay              $6.7M   37.295
1                     Cisco              $2.5M  37.4088
2                    PayPal              $197M  37.2945
3               BlueLithium             $11.5M  37.3205
4                   Baynote             $27.8M  37.3323
..                      ...                ...      ...
73         Force10 Networks              $116M  37.4186
74        SVTC Technologies               $34M     None
75                      D2S             $21.7M     None
76               PaymentOne                $7M   37.248
77  Celestial Semiconductor                $2M  37.3864

[78 rows x 3 columns]

In [257]:
df1_new.drop(["offices"], axis=1, inplace=True)
df1_new

                       name total_money_raised longitude
0                      eBay              $6.7M   -121.93
1                     Cisco              $2.5M  -121.954
2                    PayPal              $197M  -121.928
3               BlueLithium             $11.5M  -121.948
4                   Baynote             $27.8M  -122.007
..                      ...                ...       ...
73         Force10 Networks              $116M  -121.945
74        SVTC Technologies               $34M      None
75                      D2S             $21.7M      None
76               PaymentOne                $7M  -121.777
77  Celestial Semiconductor                $2M  -121.929

[78 rows x 3 columns]

In [303]:
!ls

Geo.ipynb        Google API.ipynb

In [304]:
# We join the two dataframes and we export the saved file to our output folder! We got what we need already, so let's
# create a beautiful map!
result = df_new.join(df1_new["longitude"])
result.to_csv('../output/CompaniesCA.csv')
result.head()

          name total_money_raised latitude longitude
0         eBay              $6.7M   37.295   -121.93
1        Cisco              $2.5M  37.4088  -121.954
2       PayPal              $197M  37.2945  -121.928
3  BlueLithium             $11.5M  37.3205  -121.948
4      Baynote             $27.8M  37.3323  -122.007

In [271]:
map_1 = folium.Map(location = [37.370036,-121.963527], zoom_start = 15)
icon = Icon(color = "blue",
             prefix = "fa",
             icon = "building",
             icon_color = "black",
             tooltip = "Our Company"
)
company = Marker(location=[37.370036,-121.963527], icon=icon)
company.add_to(map_1)
map_1

# First, we localize our company in the coordinates that we chose, a well communicated street in San José, very 
# handful so our clients and workers can access the building easily.

# And also, good news... There's a parking lot!! Everyone can park the car in front of the building!

In [281]:
# Now, we create a for loop to iterate through the dataframe head, to get the location of our 5 first companies that 
# have already raised a million dollars or more, and that will be our neighbours:

for i,row in result.head().iterrows():
    #popup distrito
    distrito = {
        "location" : [row["latitude"], row["longitude"]],
        "tooltip" : row["name"]
    }
    
    if row["name"] == "eBay":
        icon = Icon( color = "green",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
        )
    elif row["name"] == "PayPal":
        icon = Icon( color = "blue",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
        )
    elif row["name"] == "Baynote":
        icon = Icon( color = "cadetblue",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
        )
    else:
        icon = Icon( color = "red",
                    prefix = "fa",
                    icon = "briefcase",
                    icon_color = "black"
        )
    Marker (**distrito,icon = icon).add_to(map_1)

map_1

# And finally, we output the map with our company and the rest of the companies in it!

In [150]:
# Our other database called "restaurants" may have more info about restaurants (vegans and stabucks), but that 
# database doesn't come with its location in latitude and longitude, so we may better use a Google API!